.content_admin {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.content_admin ul{
    width: 10vw;
    margin-top: 15vh;
    padding: 2vw;
    justify-content: center;
}

li{
    cursor: pointer;
}